/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
*{
	margin: 0px;
}

:root{
    background: aqua;
}

svg{
	background-color: yellow;
  position: relative;
}

.spin{
	-webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: rotatingE;
  -webkit-animation-timing-function:linear;
  transform-origin: 50% 50%;
}

@-webkit-keyframes rotatingE{
    100% {
      transform: rotate(360deg);
    }
}

.board{
  padding: 20px;
}

div:not(.board){
	display: inline-block;
	margin-right: 2em;
	margin-left: 1em;
	margin-top: 0.2em;
	font: 1.2em sans-serif;
}

player {
  position: relative;
  z-index: 100;
}